body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
}

.setup {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.form-container {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.instagramLogo {
  color: #007bff;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input.error {
  border-color: red;
}

.profile-pic-label {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  transition: border-color 0.3s;
}

.profile-pic-label.error {
  border: 2px solid red;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: -10px;
  margin-bottom: 10px;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0056b3;
}

.arrow-icon {
  margin-left: 5px;
}

@media (max-width: 480px) {
  .setup {
    font-size: 1.5rem;
  }

  .form-container {
    padding: 1.5rem;
  }

  input {
    width: calc(100% - 10px);
    padding: 8px;
  }

  .next-button {
    padding: 8px;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  justify-content: center;
}

.nav-link {
  color: black;
  margin: 1rem 0;
  transition: color 0.3s;
  color: #007bff;
}